name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      repeat:
        description: "Número de veces que quieres ejecutar el test"
        required: false
        default: "1"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Instalar dependencias
        run: mvn install -DskipTests

      - name: Ejecutar pruebas Karate n veces
        run: |
          for i in $(seq 1 ${{ github.event.inputs.repeat }}); do
            echo "➡️ Ejecución número $i"
            mvn clean test
          done

      - name: Instalar Allure CLI
        run: npm install -g allure-commandline --save-dev

      - name: Generar reporte Allure
        run: allure generate allure-results --clean -o allure-report

      - name: Publicar reporte Allure como artefacto
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report